
DB/botDB.mdb
DB/IVTBotDB.mwb
Program/BotProgram/.idea/BotProgram.iml
Program/BotProgram/.idea/misc.xml
Program/BotProgram/.idea/misc.xml
Program/BotProgram/.idea/modules.xml
Program/BotProgram/.idea/workspace.xml
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова».html
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/619a0cc6dd4965bc363d77519728edc8.css
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/8f7c277db0190c5fef1126e98313d5da.css
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/_p106bcra5y.jpg
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/ajax_view.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/analytics.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/base.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/borisovsk_17_pozdr_.jpg
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/collapse.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/collapsiblock.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/custom.css
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/drupal.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/extlink.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/ga.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/google_analytics_reports.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/googleanalytics.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/grand_smeta.png
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/img_assist.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/imgpreview.jpg
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.bgiframe.min.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.cookie.js(1).загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.cookie.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.hoverIntent.minified.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.localscroll-min.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.min.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jquery.scrollTo-min.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/jstools.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/komchem.jpg
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/lightbox.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/logo_orig.png
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/openid.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/panels.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/pottosin.jpg
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/ru_546790bda19717782814538f618a4e3f.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/sfsmallscreen.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/sftouchscreen.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/shCore.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/shLegacy.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/superfish.js(1).загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/superfish.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/supersubs.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/supposition.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/syntaxhighlighter.min.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/tableofcontents.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/text_resize.js.загружено
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/turnirgorodov_0.jpg
Сайт/Рубцовский индустриальный институт (филиал) ФГБОУ ВО «Алтайский государственный технический университет имени И.И.Ползунова»_files/views_slideshow.js.загружено
DB/Как в Python работать с MySQL под Windows _ Pythono.ru.pdf
DB/botdb.sql
BotProgram/modules/bot/config.pyBotProgram/modules/bot/config.pyBotProgram/modules/bot/config.pyBotProgram/modules/bot/config.pyBotProgram/modules/bot/config.py
ai_subsystem/works/First_model/nn_models/
